* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1 1 300px;
    display: flex;
}

header {
    background-color: chocolate;
    padding: 12px;
    color: white;
}

h1, h2 {
    margin: 0;
}

#projects-bar {
    background-color: #F2F2F2;
    min-width: 200px;
    padding: 12px 20px;
}

#display-container {
    width: 100%;
}

#tasks-heading {
    margin: 12px 40px;
    text-transform: capitalize;
}

#projects-container > button {
    text-transform: capitalize;
}